<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="fm.last">
<uses-permission android:name="android.permission.READ_CONTACTS"/>
<application android:icon="@drawable/icon" android:label="Last.fm" android:name="Application">
	<activity android:name="ScrobblerTestActivity"></activity>
	<service android:name="ScrobblerService"></service>
	<activity android:name=".RadioClient" android:label="Last.fm">
	    
	<intent-filter>
<action android:name="RADIOCLIENT">
</action><category android:name="android.intent.category.DEFAULT">
</category></intent-filter></activity>
	<activity android:label="@string/app_name" android:name=".AccountSettings">
		<intent-filter>
			<action android:name="ACCOUNTSETTINGS"/>
			<category android:name="android.intent.category.DEFAULT"/>
		</intent-filter>
	</activity>

	<activity android:name=".EventsView" android:label="Gigs Near Here - Last.fm">
		<intent-filter>
			<action android:name="EVENTSVIEW"/>
			<category android:name="android.intent.category.DEFAULT"/>
		</intent-filter>
	<intent-filter android:label="Last.fm">
<action android:name="android.intent.action.MAIN">
</action><category android:name="android.intent.category.LAUNCHER">
</category></intent-filter></activity>
<activity android:name="MapActivity" android:label="Venue Location - Last.fm">
<intent-filter>
<action android:name="MAP_ACTION">
</action><category android:name="android.intent.category.DEFAULT">
</category></intent-filter></activity><activity android:name="ContactsView">
<intent-filter>
<action android:name="CONTACTS_ACTION">
</action><category android:name="android.intent.category.DEFAULT">
</category></intent-filter></activity><activity android:name=".FriendsView" android:label="Friends List - Last.fm">
<intent-filter>
<action android:name="FRIENDSVIEW">
</action><category android:name="android.intent.category.DEFAULT">
</category></intent-filter></activity></application>

</manifest>
