<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0.0" package="fm.last.android">
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name="LastFMApplication">
		<activity android:name=".LastFm" android:label="@string/app_name" android:configChanges="keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.Profile" android:label="Last.fm: Profile" android:configChanges="keyboardHidden">
			<intent-filter>
			</intent-filter>
		</activity>
		<activity android:name=".activity.NewStation" android:label="Last.fm: Create a New Station" android:configChanges="keyboardHidden">
			<intent-filter>
			</intent-filter>
		</activity>
		<activity android:name=".activity.Player" android:label="Last.fm: Player" android:configChanges="keyboardHidden" android:launchMode="singleTop">
			<intent-filter>
			</intent-filter>
		</activity>
		<activity android:name=".activity.Event" android:label="Last.fm: Event" android:configChanges="keyboardHidden">
			<intent-filter>
			</intent-filter>
		</activity>
		<activity android:name=".activity.Tag" android:label="Last.fm: Tag" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<service android:name=".player.RadioPlayerService" android:process=":remote" />
	</application>
</manifest> 