<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="fm.last.android" android:versionCode="6" android:versionName="1.2.0">
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name="LastFMApplication">
		<activity android:name="LastFm" android:configChanges="keyboardHidden">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		<activity android:name=".activity.Profile" android:label="Last.fm: Profile" android:configChanges="keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".activity.NewStation" android:label="Last.fm: Create a New Station" android:configChanges="keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".activity.Player" android:label="Last.fm: Player" android:configChanges="keyboardHidden" android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="lastfm" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.Event" android:label="Last.fm: Event" android:configChanges="keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".activity.Share" android:label="Last.fm: Share With A Friend" android:configChanges="keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".activity.AddToPlaylist" android:label="Last.fm: Add To Playlist" android:configChanges="keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".activity.Tag" android:label="Last.fm: Tag" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.SignUp" android:label="Last.fm: Sign Up">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".activity.Metadata">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".activity.Preferences">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".activity.PopupActionActivity" android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity android:name=".activity.ShareResolverActivity" android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<receiver android:name="RadioWidgetProvider"
		            android:label="Last.fm Radio"
		            android:icon="@drawable/icon"
		            >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    			<action android:name="fm.last.android.widget.SKIP"/>
    			<action android:name="fm.last.android.widget.STOP"/>
    			<action android:name="fm.last.android.widget.ACTION"/>
    			<action android:name="fm.last.android.widget.LOVE"/>
    			<action android:name="fm.last.android.widget.BAN"/>
    			<action android:name="fm.last.android.widget.UPDATE"/>
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		                android:resource="@xml/radiowidget_info"
		                />
		</receiver>
		<service android:name=".player.RadioPlayerService" android:process=":player" />
       	<receiver android:name=".scrobbler.MusicIntentReceiver">
    		<intent-filter>
				<action android:name="com.android.music.playstatechanged"/>
				<action android:name="com.android.music.playbackcomplete"/>
				<action android:name="com.android.music.metachanged"/>
				<action android:name="com.android.music.queuechanged"/>
				<action android:name="com.htc.music.metachanged" />
				<action android:name="com.htc.music.playbackcomplete" />
				<action android:name="com.htc.music.playstatechanged" />
				<action android:name="fm.last.android.metachanged"/>
				<action android:name="fm.last.android.playstatechanged"/>
				<action android:name="fm.last.android.playbackcomplete"/>
				<action android:name="fm.last.android.LOVE"/>
				<action android:name="fm.last.android.BAN"/>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
				<action android:name="fm.last.android.scrobbler.FLUSH"/>
    		</intent-filter>
    	</receiver>
		<service android:name=".scrobbler.ScrobblerService" android:process=":scrobbler"/>
    </application>
<uses-sdk android:minSdkVersion="3"></uses-sdk>
</manifest>